* {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

html {
    font-family: 'Do Hyeon', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

#nav-bar {
    background-color: #d45d79;
    width: 100%;
    height: 50px;
    display: flex;
    align-content: flex-start;
    position: fixed;
    top: 0;
    left: 0;
    font-size: 1.5em;
}

.nav-button {
    text-decoration: none;
    border-radius: 7px;
    padding: 5px 15px;
    background-color:#ea9085;
    color: #e9e2d0;
    margin: 3px 10px;
}

#nav-bar-placeholder {
    height: 55px;
}