body {
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    border: blue solid 1px;
    display: flex;
    justify-content: space-evenly;
}
.userBlock {
    border: #ff0000 dotted 1px;
    border-radius: 5px;
    margin: 0 10px;
    height: 100px;
    width: 100px;
}