body {
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    display: flex;
    justify-content: space-between;
}
.userBlock {
    border: black solid 1px;
    border-radius: 5px;
    background-color: ivory;
    margin: 0 30px;
    height: 200px;
    width: 200px;
    cursor: pointer;
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}