body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6e5773;
}
.container {
    display: flex;
    justify-content: space-between;
}
.userBlock {
    border-radius: 15px;
    background-color: #ea9085;
    margin: 0 30px;
    height: 200px;
    width: 200px;
    cursor: pointer;
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e9e2d0;
}