body {
    align-content: center;
    background-color: #6e5773;
}

#top-info {
    display: block;
    padding: 10px;
    height: 50px;
}

#user-info {
    float: left;
}

#settingsOpenButton {   
    float: right;
    cursor: pointer;
}

#table-container {
    padding: 3% 0;
}

table {
    border-collapse: separate;
    border-spacing: 0.5em;
    margin: 0 auto;
    font-size: 5em;
    font-stretch: expanded;
}

td {
    color: #e9e2d0;
}

.equationNumber {
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    border-radius:10%;
    font-size: 1.5em;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"]{
    font: inherit;
    font-size: 1.5em;
    text-align: center;
    vertical-align: middle;
    max-width: 3em;
    border: none;
    outline: none;
    border-bottom: black solid 1px;
    color: #e9e2d0;
    background-color: #6e5773;
}

#scoreBoard {
    display: flex;
    padding: auto 0;
    height: 20%;
    justify-content: center;
    align-items: center;
    padding: 8% 0;
}

#scoreNumber {
    font-size: 7em;
    color: #d45d79;
}

#settingsPage {
    display: none;
    width: 50%;
}

#exitSettings {
    float: right;
    cursor: pointer;
}