body {
    width: 99%;
    height: 99%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6e5773;
}

/* #container {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
} */
.choreBox {
    border: none;
    width: 47%;
    height: 4em;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 1%;
    border-radius: 20px;
    background-color: #ea9085;
    font-size: 1.5em;
    color: #e9e2d0;
}

.choreImgBox {
    height:6em;
}

.choreBoxDone {
    border: none;
    width: 45%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1%;
    border-radius: 20px;
    background-color: #ea9085;
    font-size: 1.5em;
    opacity: 0.4;
    text-decoration: line-through;
}

.choreImg {
    max-width:100%;
    height:80%;
    margin-right:5px;
}

.boxContainer {
    border: #e9e2d0 solid 1px;
    margin-top: 10%;
}