body {
    width: 99%;
    height: 99%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#container {
    width: 90%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
}
.choreBox {
    border: none;
    width: 45%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1%;
    border-radius: 20px;
    background-color: goldenrod;
    font-size: 1.5em;
}