{% extends 'mainPage/base.html' %}
{% block content %}
Current user: {{ user.username }}
Score: <span id="score-display">{{ user.score.score }}</span>

<div id="settingsOpenButton">
Settings
</div>

<table>
<tr id="equation-tr">
</tr>
</table>

<div id="scoreBoard">
<span id="scoreNumber"></span>
</div>

<audio src="/media/button-28.mp3" type="audio/mpeg" id="successSound"></audio>
<div id="settingsPage">
        
                <div id="exitSettings">X</div>
        <form action="." method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
        </form>        
        
</div>

{{ numSet|json_script:"equation-list" }}

{% load static %}
<script src="{% static "mainPage/home.js" %}"></script>
<script src="{% static "mainPage/settings.js" %}"></script>

<script>
const addAjax = () => {
        $.ajax({
                type:'POST',
                url:'{% url "scoreup" %}',
                data:{
                        action: 'POST',
                        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                        },
                success:function(json){
                        $('#score-display').text(json.currentScore);                    
                        },
                error : function(xhr,errmsg,err) {
                        console.log(xhr.status + ": " + xhr.responseText);
                }
        });
}
</script>

{% endblock content %}