{% extends 'mainPage/base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static "chores/chores.css" %}">

	<div id="container">
		{% for chore in chores %}
                
                        <div class="choreBox" id='{{ chore.id }}'>
                                {{ chore }} ({{ chore.score }})
                        </div>
                
		{% endfor %}
	</div>

<audio src="/media/button-28.mp3" type="audio/mpeg" id="successSound"></audio>

<script src="{% static "chores/chores.js" %}"></script>


<script>
choreBoxes.forEach(e => {
    e.addEventListener("click", event => {
                e.className = 'choreBoxDone';
        $.ajax({
            type:'POST',
            url:'.',
            data:{
                    action: 'POST',
                    csrfmiddlewaretoken: '{{csrf_token}}',
					user_id: '{{user.id}}',
					chore_id: e.id,
                    },
            success:function(json){
                    $('#user_score_base').text(json.currentScore);               
                    },
            error : function(xhr,errmsg,err) {
                    console.log(xhr.status + ": " + xhr.responseText);
            }
    });
    })
})
</script>
{% endblock content %}
