{% extends 'mainPage/base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static "chores/chores.css" %}">
<div class="container">
        <div class="row">
                <div class="col-md-2">
                </div>
                <div class="col-md-8 text-center">
                        {% for chore in chores %}
                                {% if chore.show_by_image %}
                                        <div class="choreBox choreImgBox" id='{{ chore.id }}'>
                                                <img src="{{chore.image.url}}" class="choreImg"> ({{ chore.score }})
                                        </div>
                                        {% else %}
                                        <div class="choreBox" id='{{ chore.id }}'>
                                                {{ chore }} ({{ chore.score }})
                                        </div>
                                {% endif %}
                        {% endfor %}
                </div>
                <div class="col-md-2">
                </div>
        </div>
        </div>

<audio src="/media/button-28.mp3" type="audio/mpeg" id="successSound"></audio>

<script src="{% static "chores/chores.js" %}"></script>


<script>
choreBoxes.forEach(e => {
    e.addEventListener("click", function handler() {
                e.className = 'choreBoxDone';
        $.ajax({
            type:'POST',
            url:'.',
            data:{
                    action: 'POST',
                    csrfmiddlewaretoken: '{{csrf_token}}',
					user_id: '{{user.id}}',
					chore_id: e.id,
                    },
            success:function(json){
                    $('#user_score_base').text(json.currentScore);               
                    },
            error : function(xhr,errmsg,err) {
                    console.log(xhr.status + ": " + xhr.responseText);
            }
        });
    e.removeEventListener("click", handler);
    })
})
</script>
{% endblock content %}
